/* Contenedor general */
.home-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 11px solid #605de7;
}

/* Título */
.home-title {
    text-align: center;
    margin-bottom: 20px;
}

/* Input + botón de crear tarea */
.add-task-form {
    display: flex;
    justify-content: center;   /* Centra horizontalmente */
    align-items: center;        /* Alinea verticalmente */
    gap: 10px;                  /* Espaciado entre input y botón */
    margin-bottom: 20px;
}

.add-task-input {
    width: 70%;                 /* Mantiene el tamaño correcto */
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 16px;
}

.btn-create-inline {
    padding: 10px 15px;
    background: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

/* Estados */
.loading,
.no-tasks {
    text-align: center;
    color: #777;
}

/* Lista */
.tasks-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Tarjeta */
.task-card {
    background: #444394;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #2b0808;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1)
}

.task-title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.task-desc {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    white-space:pre-line;
}

/* Acciones */
.task-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-edit {
    background: #1e90ff;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-delete {
    background: #d9534f;
    padding: 8px 12px;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/* ------------------------------ */
/*   ESTILOS PARA MODO EDICIÓN   */
/* ------------------------------ */

.edit-input,
.edit-textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    border-radius: 6px;
    font-size: 15px;
    margin-bottom: 8px;
    background: #fff;
    color: #000;
}

.edit-textarea {
    min-height: 70px;
    resize: vertical;
}

/* Botón cancelar en edición */
.btn-cancel {
    background: #555;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
}